<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Tardigrade: AI Learning Hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="AI Learning Hub">
  <meta name="author" content="faustineinsun">

	<!--link rel="stylesheet/less" href="less/bootstrap.less" type="text/css" /-->
	<!--link rel="stylesheet/less" href="less/responsive.less" type="text/css" /-->
	<!--script src="js/less-1.3.3.min.js"></script-->
	<!--append ‘#!watch’ to the browser URL, then refresh the page. -->
	
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<!--link href="css/bootstrap.min.css" rel="stylesheet"-->
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
	<link href="css/style.css" rel="stylesheet">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
  <![endif]-->

  <!-- Fav and touch icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="img/favicon.png">
  
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<!--script type="text/javascript" src="js/bootstrap.min.js"></script-->
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
</head>

<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Tardigrade: AI Learning Hub</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<!--ul class="nav navbar-nav">
						<li class="active">
							<a href="#">Link</a>
						</li>
						<li>
							<a href="#">Link</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Action</a>
								</li>
								<li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">One more separated link</a>
								</li>
							</ul>
						</li>
					</ul-->
					<ul class="nav navbar-nav navbar-right">
						<!--li>
							<a href="#">Link</a>
						</li-->
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">Algorithms  <strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">k-Nearest Neighbors</a>
								</li>
								<!--li>
									<a href="#">Another action</a>
								</li>
								<li>
									<a href="#">Something else here</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">Separated link</a>
								</li-->
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
            <br> <br> <br> <br> <br> 
            <div class="alert alert-dismissable alert-warning">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    Welcome~!
                </h4> <strong>&#9832;</strong> 1st version will be out soon. <a href="#" class="alert-link">link</a>
            </div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="page-header">
				<h1>
                    k-Nearest Neighbors <small>for classification and regression</small>
				</h1>
			</div>
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">Classification</a>
				</li>
				<li>
					<a href="#">Regression</a>
				</li>
				<!--li class="disabled">
					<a href="#">Messages</a>
				</li-->
				<!--li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">Action</a>
						</li>
						<li>
							<a href="#">Another action</a>
						</li>
						<li>
							<a href="#">Something else here</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">Separated link</a>
						</li>
					</ul>
				</li-->
			</ul>
			<h2>
			</h2>
			<p>
                text goes here
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>

            <!--call scala.js generated js file-->
            <!--from http://lihaoyi.github.io/hands-on-scala-js/-->
			<div class="row clearfix">
				<div class="col-md-12 column">
                    <canvas style="display: block" id="canvas" width="255" height="255"/>
				</div>
			</div>
            <script type="text/javascript" src="js/scalaJS/example-opt.js"></script>
            <!--install workbench https://github.com/lihaoyi/workbench which is an addon of scala.js that can restart the app when a new compilation run finishes, and show debug log in the Chrome console-->
            <!--script type="text/javascript" src="/workbench.js"></script-->
            <script>
                example.ScalaJSExample().main(document.getElementById('canvas'));
            </script>

            <br> <br> <br>
			<div class="progress active">
				<div class="progress-bar progress-success">
				</div>
			</div>

			<div class="btn-group btn-group-sm">
                <button id="memcached-set-command" onclick="getMemcachedResponse('set');return false;" class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-left"></em> set</button> 
                <button id="memcached-get-command" onclick="getMemcachedResponse('get');return false;" class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-center"></em> get</button> 
                <button id="memcached-stats-command" onclick="getMemcachedResponse('stats');return false;" class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-right"></em> stats</button> 
                <button id="memcached-delete-command" onclick="getMemcachedResponse('delete');return false;" class="btn btn-default" type="button"><em class="glyphicon glyphicon-align-justify"></em> delete</button>
			</div>
            <h4>Memcached Response:</h4>
              <div style="border: 1px solid yellow; background-color: white; padding: 10px 20px; min-height: 53px;">
                  <p> <div id="memcachedresponse"></div> </p>
              </div>
            <br> <br>

			<div class="btn-group">
				 <button class="btn btn-default">Action</button> <button data-toggle="dropdown" class="btn btn-default dropdown-toggle"><span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Action</a>
					</li>
					<li class="disabled">
						<a href="#">Another action</a>
					</li>
					<li class="divider">
					</li>
					<li>
						<a href="#">Something else here</a>
					</li>
				</ul>
			</div> <button type="button" class="btn btn-warning">Default</button>
		</div>
		<div class="col-md-4 column">
            <br> <br>
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
						    Algorithm	
						</th>
						<th>
                            Features
						</th>
						<th>
						    RMSE	
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<tr class="active">
						<td>
							1
						</td>
						<td>
                            KNN classification
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
					<tr class="danger">
						<td>
							1
						</td>
						<td>
                            KNN regression
						</td>
						<td>
						</td>
						<td>
						</td>
					</tr>
                    <!--
                    none
					<tr class="active">
					<tr class="success">
					<tr class="warning">
					<tr class="danger">
                        -->
				</tbody>
            </table> 
            <br> 
           <span class="label label-primary">Classification</span>
           <span class="label label-primary">Regression</span>
			<form role="form" class="form-inline">
                <br><br>
				<div class="form-group">
					 <label for="exampleInputFile">File input</label><input type="file" id="exampleInputFile">
					<p class="help-block">
                        upload training or testing data in the format..
					</p>
				</div>
				<div class="checkbox">
					 <label><input type="checkbox"> Check if it is training data; uncheck if it is testing data</label>
                 </div> 
                 <br> <br>
                 <button type="submit" class="btn btn-warning">Submit</button>
			</form>
            <br><br>
					<!--form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control">
			            </div> <button type="button" class="btn btn-warning">Search</button>
					</form-->
		</div>
	</div>
<br> <br> <br> <br> <br>
<div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Game Zone</a>
                </div>
            </nav>
            <div class="alert alert-success alert-dismissable">
                 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4>
                    It's game time!
                </h4> Have fun with this simple Flappy Bird game =)</a>
            </div>
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <!--install workbench https://github.com/lihaoyi/workbench which is an addon of scala.js that can restart the app when a new compilation run finishes, and show debug log in the Chrome console-->
                    <!--script type="text/javascript" src="/workbench.js"></script-->
                    <canvas style="display: block" id="flcanvas" />
                    <script>
                        canvasapp.FlappyLine().main(document.getElementById('flcanvas'));
                    </script>
                </div>
            </div>
        </div>
    </div>
<br> <br> <br> <br> <br>
    <div class="row clearfix">
        <div class="col-md-12 column">
<center>
    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
    <br>
    <br />This work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/faustineinsun" property="cc:attributionName" rel="cc:attributionURL">faustineinsun</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
</center>
        </div>
<br> <br> <br> <br> <br>
    </div>
</div>
</body>
</html>
