<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>scalaJS-playground</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="scala.js playground">
        <meta name="author" content="faustineinsun">

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

        <link href="css/style.css" rel="stylesheet">

        <script type="text/javascript" src="js/scalaJS/example-opt.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="row clearfix">

                <br> <br>
                <div class="col-md-12 column">
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            It's game time!
                    </h4> Have fun with this simple Flappy Bird game from <a href="http://lihaoyi.github.io/hands-on-scala-js/">lihaoyi.github.io/hands-on-scala-js</a>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <!--install workbench https://github.com/lihaoyi/workbench which is an addon of scala.js that can restart the app when a new compilation run finishes, and show debug log in the Chrome console-->
                        <!--script type="text/javascript" src="/workbench.js"></script-->
                        <canvas style="display: block" id="flcanvas" />
                        <script>
                            canvasapp.FlappyLine().main(document.getElementById('flcanvas'));
                        </script>
                    </div>
                </div>

                <br> <br>
                <div class="row clearfix">
                    <div class="col-md-12 column">
                        <canvas style="display: block" id="canvas" width="255" height="255"/>
                        <script>
                            example.ScalaJSExample().main(document.getElementById('canvas'));
                        </script>
                    </div>
                </div>

            </div>
        </div>

        <br> <br> <br> <br> <br>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <center>
                    <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                    <br>
                    <br />This work by <a xmlns:cc="http://creativecommons.org/ns#" href="https://github.com/faustineinsun" property="cc:attributionName" rel="cc:attributionURL">faustineinsun</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
                </center>
            </div>
            <br> <br> <br> <br> <br>
        </div>
    </div>
</body>
</html>
